<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="robots" content="noindex" />
  <meta name="AdsBot-Google" content="noindex" />

  <link rel="stylesheet" href="{{ "/css/main_profile_v1.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/fonts/fontawesome/css/all.min.css">

  <script src="{{ "/js/vendor/handlebars.runtime.min-v4.7.3.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/vendor/forge.min-v0.9.1.js" | prepend: site.baseurl }}"></script>

</head>
