<!DOCTYPE html>

  {% include profile-head.html %}

  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>

    <div class="pageWrapper">
      <div id="profileContainer">
        <h2>Loading...</h2>
      </div>
    </div>

    <script>

      function toggleReadmore() {
        var moreText = document.getElementById("read-more-content");
        var btnText = document.getElementById("read-more-button");
      
        if (moreText.style.display === "inline") {
          btnText.innerHTML = "Show more..."; 
          moreText.style.display = "none";
        } else {
          btnText.innerHTML = "Show less..."; 
          moreText.style.display = "inline";
        }
      }

      const fIdx = window.location.href.indexOf('#');
      const p = fIdx >= 0 ? window.location.href.substr(fIdx + 1) : undefined

      if (!p) {
        window.location.replace('/not-found?p=0');
      }

      const s = forge.util.hexToBytes('{{ site.data.hbcfg.profile.s }}');
      const iv = forge.util.hexToBytes('{{ site.data.hbcfg.profile.iv }}');
      const d = forge.util.hexToBytes('{% include hb-context/profile.ctx %}');
      const k = forge.pkcs5.pbkdf2(p, s, 100000, 32);
      
      var dc = forge.cipher.createDecipher('AES-CBC', k);
      dc.start({iv: iv});
      dc.update(forge.util.createBuffer(d));
      var result = dc.finish(); // check 'result' for true/false

      if (!result) {
        window.location.replace('/not-found?p=1');
      }

      let profileData
      try {
        profileData = JSON.parse(dc.output.toString())
      } catch (err) {
        window.location.replace('/not-found?p=2');
      }

      if (!profileData) {
        window.location.replace('/not-found?p=3');
      }

      Handlebars.partials["profile-experience"] =  Handlebars.template(
        {% include hb-templates/profile-experience.hb.js %}
      )
      Handlebars.partials["profile"] =  Handlebars.template(
        {% include hb-templates/profile.hb.js %}
      )

      var context = { profile: profileData};
      var html = Handlebars.partials["profile"](context);
      document.getElementById('profileContainer').innerHTML = html

    </script>

    {% include profile-footer.html %}
    
  </body>

</html>